$bg-color: #f0f0f0;
$border-color: #333;
$cell-size: 100px;

.board {
    display: flex;
    flex-wrap: wrap;
    width: $cell-size * 3;
    height: $cell-size * 3;
    margin: 0 auto;

    .box {
        width: $cell-size;
        height: $cell-size;
        background-color: $bg-color;
        border: 1px solid $border-color;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        cursor: pointer;

        &:nth-child(3n) {
            border-right: none;
        }

        &:nth-child(-n+3) {
            border-top: none;
        }

        &:hover {
            background-color: lighten($bg-color, 10%);
        }
    }

    .x::after {
        content: 'X';
        color: #ff5733;
    }
    .o::after {
        content: 'O';
        color: #337aff;
    }
}