.form-group {
    width: 255px !important;
    label {
        display: block;
        margin-top: 20px;
        font-size: 14px;
        margin-bottom: 10px;
        font-weight: bold;
        color: black;
    }
    input[type="date"] {
        border: 1px solid black;
        padding: 10px;
        border-radius: 5px;
        width: 100%;
        margin-bottom: 10px;    
    }
    .error-block {
        .error {
            color: red;
            font-size: 14px;
        }
    }
}