.navbar {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: aliceblue;
        height: 50px;
        width: 100%;
        padding: 10px;

        ul {
            list-style: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            li {
                cursor: pointer;
                a {
                    text-decoration: none;
                    color: black;
                    border: 1px solid black;
                    padding: 5px;
                    border-radius: 5px;
                }
            }
        }
    }
}