.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    margin: 0 auto;
    border: 1px solid black;
    padding: 20px;
    border-radius: 5px;

    button {
        margin-top: 20px;
        border: 1px solid blue;
        padding: 10px;
        border-radius: 5px; 
        cursor: pointer;
        background-color: blue;
        color: white;
        font-size: 16px;
        font-weight: bold;

        &:hover {
            background-color: white;
            color: blue;
        } 
    }
}