.form-group {
    width: 255px;
    label {
        font-size: 14px;
        font-weight: bold;
        color: black;
        display: block;
        margin: 10px 0;
    }
    .radio-container {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;

        .radio-block {
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }
    input[type="radio"] {
        margin-right: 5px;
        vertical-align: middle;
        display: inline-block;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
    .error-block {
        .error {
            color: red;
            font-size: 12px;
            margin-top: 5px;
        }
    }

}